<!DOCTYPE html>
<html>
  <head>
    <title>WellShopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h1>Welcome to WellShopping</h1>
    <p><%= link_to 'Categories', categories_path %></p>
    <p><%= link_to 'Products', products_path %></p>
    <% if user_signed_in? %>
      <p><%= link_to 'Cart', user_cart_path(current_user) %></p>
      <p><%= link_to 'Orders', user_orders_path(current_user) %></p>
    <% else %>
      <% if session[:cart_id] %>
        <p><%= link_to 'Cart', cart_path(session[:cart_id]) %></p>
      <% end %>
    <% end %>
  </body>
</html>
