<!DOCTYPE html>
<html>
  <head>
    <title>WellShopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <div class="jumbotron text-center">
        <h1 class="display-4">Welcome to WellShopping</h1>
        <p class="lead">Find everything you need right here.</p>
        <hr class="my-4">
        <p>Start exploring our categories and products now!</p>
        <a class="btn btn-primary btn-lg" href="<%= products_path %>" role="button">Shop Now</a>
      </div>
      <nav>
        <ul>
          <li><%= link_to 'Categories', categories_path %></li>
          <li><%= link_to 'Products', products_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Cart', user_cart_path(current_user) %></li>
            <li><%= link_to 'Orders', user_orders_path(current_user) %></li>
            <% if current_user.admin? %>
              <li><%= link_to 'Admin Dashboard', user_dashboard_path %></li>
            <% end %>
            <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'Login', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
            <% if session[:cart_id] %>
              <li><%= link_to 'Cart', cart_path(session[:cart_id]) %></li>
            <% end %>
          <% end %>
        </ul>
      </nav>
      <footer>
        <p>&copy; <%= Time.current.year %> WellShopping. All rights reserved.</p>
      </footer>
    </body>
  </html>
