<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, Order.statuses.keys.map { |status| [status.humanize, status] } %>
  </div>
  <div class="field">
    <%= form.label :shipping_status %>
    <%= form.select :shipping_status, Order.shipping_statuses.keys.map { |status| [status.humanize, status] } %>
  </div>
  <div class="actions">
    <%= form.submit 'Update Order' %>
  </div>
<% end %>
