<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h4>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :status, class: 'form-label' %>
    <%= form.select :status, Order.statuses.keys.map { |status| [status.humanize, status] }, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :shipping_status, class: 'form-label' %>
    <%= form.select :shipping_status, Order.shipping_statuses.keys.map { |status| [status.humanize, status] }, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit 'Update Order', class: 'btn btn-primary' %>
  </div>
<% end %>
