<h1>Orders</h1>

<%= link_to 'New Order', new_order_path %>

<table>
  <thead>
    <tr>
      <th>Order Date</th>
      <th>Total Amount</th>
      <th>Status</th>
      <th>Shipping Address</th>
      <th>Shipping Status</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.order_date %></td>
        <td><%= order.total_amount %></td>
        <td><%= order.status %></td>
        <td><%= order.shipping_address %></td>
        <td><%= order.shipping_status %></td>
        <td><%= link_to 'Show', order_path(order) %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
