<h1>Order Details</h1>
<p>Order Date: <%= @order.order_date %></p>
<p>Order Status: <%= @order.status %></p>
<p>Total Amount: <%= number_to_currency(@order.total_amount) %></p>
<p>Shipping Address: <%= @order.shipping_address %></p>
<p>Shipping Status: <%= @order.shipping_status %></p>
<p>Payment Status: <%= @order.payment.payment_status.titleize %></p>
<% if @order.payment.nil? || @order.payment.payment_status == 'pending' %>
  <%= button_to 'Make Payment', edit_order_payment_path(@order), method: :get, class: 'btn btn-primary' %>
<% else %>
  <p>Payment Method: <%= @order.payment.payment_method.humanize %></p>
<% end %>
<h2>Order Items</h2>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.price) %></td>
        <td><%= number_to_currency(item.price * item.quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to 'View Confirmation Email', email_preview_order_path(@order) %>
</p>
<%= link_to 'Back to Orders', user_orders_path(@order.user) %>
