<%= form_with(model: [@cart, @cart_item], local: true) do |form| %>
  <% if @cart_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart_item.errors.count, "error") %> prohibited this cart item from being saved:</h2>
      <ul>
        <% @cart_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, min: 1 %>
  </div>
  <div class="actions">
    <%= form.submit 'Update Quantity', class: 'btn btn-primary' %>
  </div>
<% end %>
