<h1>Your Cart</h1>
<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.product.price %></td>
        <td><%= item.product.price * item.quantity %></td>
        <td>
          <%= link_to 'Edit', edit_cart_cart_item_path(item) %> |
          <%= button_to 'Remove', cart_cart_item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'inline-form' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Continue Shopping', products_path %>
<%# <%= button_to 'Checkout', checkout_cart_path, method: :post, data: { confirm: 'Are you sure you want to checkout?' }, class: 'btn btn-primary' %> %>
