<h1>Your Cart</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.quantity %></td>
        <td>
          <%= link_to 'Edit', edit_user_cart_cart_item_path(@user, item) %> |
          <%= button_to 'Remove', user_cart_cart_item_path(@user, item), method: :delete, data: { confirm: 'Are you sure?' }, form: { class: 'inline-form' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Continue Shopping', products_path %>
