<%= form_with(model: @product, local: true, html: { multipart: true }) do |form| %>
  <% if @product.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h4>
      <ul>
        <% @product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', rows: 4 %>
  </div>
  <div class="form-group">
    <%= form.label :price, class: 'form-label' %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :stock_quantity, class: 'form-label' %>
    <%= form.number_field :stock_quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :SKU, class: 'form-label' %>
    <%= form.text_field :SKU, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :images, class: 'form-label' %>
    <%= form.file_field :images, multiple: true, class: 'form-control-file' %>
  </div>
  <% if @product.images.attached? %>
    <div class="form-group">
      <h3>Current Images</h3>
      <div class="d-flex flex-wrap">
        <% @product.images.each do |image| %>
          <div class="image-thumbnail mb-2 mr-2">
            <%= image_tag image, size: "100x100", class: 'img-thumbnail' %>
            <%= link_to "Remove", product_delete_image_path(@product, image), method: :delete, class: "btn btn-danger btn-sm mt-1" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :category_ids, 'Categories', class: 'form-label' %>
    <div class="form-check">
      <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, class: 'form-check-input' do |b| %>
        <div class="form-check">
          <%= b.check_box(class: 'form-check-input') %>
          <%= b.label(class: 'form-check-label') %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit 'Save Product', class: 'btn btn-primary' %>
  </div>
<% end %>
