<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p><strong>Price:</strong> <%= number_to_currency(@product.price) %></p>
<p><strong>Stock quantity:</strong> <%= @product.stock_quantity %></p>
<p><strong>SKU:</strong> <%= @product.SKU %></p>
<% if @product.images.attached? %>
  <h3>Images:</h3>
  <% @product.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Product Image" %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<h2>Reviews</h2>
<%= link_to 'Write a Review', new_product_review_path(@product) %>
<ul>
  <% @product.reviews.each do |review| %>
    <li>
      <%= link_to "Review by #{review.user.name}", review_path(review) %> - Rating: <%= review.rating %> <br>
      <%= review.comment %>
      <% if review.user == current_user %>
        <%= link_to 'Edit', edit_product_review_path(@product, review), class: 'btn btn-secondary' %>
        <%= button_to 'Delete', product_review_path(@product, review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      <% end %>
    </li>
  <% end %>
</ul>
<h2>Add to Cart</h2>
<%= form_with(model: CartItem.new, url: cart_items_path, method: :post) do |form| %>
  <%= form.hidden_field :product_id, value: @product.id %>
  <div>
    <%= form.label :quantity, "Quantity" %>
    <%= form.number_field :quantity, value: 1, min: 1 %>
  </div>
  <div>
    <%= form.submit "Add to Cart" %>
  </div>
<% end %>
